<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Detail</title>
    {% load static %}
     <link rel="stylesheet" href="{% static 'polls/style.css' %}">
</head>
<body>
    {% if messages %}
    <ul class="messages">
        {% for msg in messages %}
            <li class="{{msg.tags}}">{{ msg }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <form action="{% url 'polls:vote' question.id %}" method="post">
    {% csrf_token %}
    <fieldset>
        <legend><h1>{{ question.question_text }}</h1></legend>
        {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
        {% for choice in question.choice_set.all %}
            <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
            <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>
        {% endfor %}
    </fieldset>
    <input type="submit" value="Vote">
    </form>
    <a href="{% url 'polls:results' question.id %}">Show Result</a>
    <a href="{% url 'polls:index' %}">Back to List of Polls</a>
</body>
</html>