<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Detail</title>
    {% load static %}
     <link rel="stylesheet" href="{% static 'polls/detail.css' %}">
</head>
<body>
    <div class="navbar">
        <h1>KU-polls</h1>
        {% if messages %}
        <div class="messages-container">
            <ul class="messages">
                {% for msg in messages %}
                    <li class="{{msg.tags}}">{{ msg }}</li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
        <div class="nav_right">
            {% if user.is_authenticated %}
                <div class="messages-container">
                    <p>Welcome back, {{ user.username }}!</p>
                </div>
                <form action="{% url 'logout' %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="button">Log Out</button>
                </form>
            {% else %}
               <a href="{% url 'login' %}?next={{request.path}}" class="button"> Login </a>
            {% endif %}
        </div>
    </div>
    <div class="login-container">
        <div class="login-box">
        <form action="{% url 'polls:vote' question.id %}" method="post">
        {% csrf_token %}
        <fieldset>
            <legend><h1>{{ question.question_text }}</h1></legend>
            {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
            {% for choice in question.choice_set.all %}
                <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}"
                       {% if prev_vote != None and choice.id == prev_vote.choice.id %}
                       checked
                       {% endif %}>
                <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>
            {% endfor %}
        </fieldset>
        <input type="submit" value="Vote" class="button">
        </form>
        </div>
        <footer class="footer-nav">
            <a href="{% url 'polls:index' %}" class="button">Back to List of Polls</a>
            <a href="{% url 'polls:results' question.id %}" class="button">Show Result</a>
        </footer>
    </div>
</body>
</html>