a:link, a:visited, a:hover, a:active {
    color: white;
}

.messages-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.messages {
    list-style-type: none;
    padding: 0;
}

body {
    color: white;
    background: white url("images/test.jpg") no-repeat;
    background-size: cover;
}

.navbar {
    border: 1px solid;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    background-color: transparent;
    color: white;
    border-radius: 5px;
}

.nav_right {
    display: flex;
    align-items: center;
    padding-right: 20px;
}

.polls-container {
    padding: 25px;
}

.poll-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
    border-radius: 5px;
}

.poll-box {
    border: 1px solid #ccc;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: transparent;
    border-radius: 5px;
}

.poll-box h3 {
    margin-bottom: 10px;
}

.poll-buttons {
    display: flex;
    justify-content: space-between;
}

.poll-buttons a {
    text-decoration: none;
}

.button {
    padding: 10px 15px;
    background-image: url("images/color.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.button:hover {
    opacity: 2; /* Optional: Slightly darken the button itself */
}